# Created by http://www.gitignore.io

.DS_Store

### SenchaTouch ###
# Build and Release Folders
archive/
build/
#phonegap/platforms/
#phonegap/plugins/
#phonegap/www/
# sass cache folder
# resources/css/app.css
phonegap/
cordova/
anrdoid/
resources/sass/.sass-cache/

.idea
node_modules/

oddlyeven.apk
clean/
racloop.keystore
