# Created by http://www.gitignore.io

.DS_Store

### SenchaTouch ###
# Build and Release Folders
archive/
build/
#phonegap/platforms/
#phonegap/plugins/
phonegap/
# sass cache folder
# resources/css/app.css
resources/sass/.sass-cache/

.idea
node_modules/

racloop.keystore
