# Created by http://www.gitignore.io

.DS_Store

### SenchaTouch ###
# Build and Release Folders
archive/
build/
phonegap/platforms/
phonegap/plugins/

# sass cache folder
resources/css/**
resources/sass/.sass-cache/

.idea
node_modules/