// The following two lines import the default Sencha Touch theme. If you are building
// a new theme, remove them and the add your own CSS on top of the base CSS (which
// is already included in your app.json file).

@import url(http://fonts.googleapis.com/css?family=Cabin+Condensed:400,600|Open+Sans:300,600,400);
/*
TO GET FONTS
Using DevTools from Chrome you can override the User Agent.

How to:

Get the font that you need at Google Fonts page.
You will get an URL to import in your CSS, like: http://fonts.googleapis.com/css?family=Cabin:500,700,500italic,700italic
Open that URL in your browser and you will see the full URL where you can actually download the font.
Go to DevTools (F12) -> Overrides -> Enable (check it) and select IE9 to get EOT format, Android for TTF... and SVG, I'm still looking how to do it :(
Edit: For SVG use this User Agent String: Mozilla/4.0 (iPad; CPU OS 4_0_1 like Mac OS X) AppleWebKit/534.46 (KHTML, like Gecko) Version/4.1 Mobile/9A405 Safari/7534.48.3
*/
$font-family: 'Cabin', sans-serif !default;
$blue : #008ed6;
$green : #5cb85c;
$red : #D64937;
$orange : #ea8825;
$black: #494949;

$base-color: $blue;
$alternative-color: lighten($black, 5%);
$alert-color: $red;
$confirm-color: $green;
$active-color: darken($base-color, 1%);

// GRADIENTS
$base-gradient: 'none';

$global-list-height : 40px;
$list-disclosure-round-size: 2em;
$list-disclosure-size: 1.7em;
$list-round-padding: 20px !default;

//$include-pictos-font: false;
//$include-default-icons: false;
$experimental-support-for-opera:false;
$experimental-support-for-khtml:false;
$experimental-support-for-microsoft:false;

$tabs-dark: $blue;

@import 'sencha-touch/default';
@import 'sencha-touch/default/all';

// Custom code goes here..
/* THEME CUSTOMIZATION START */

.x-title {
  font-weight: normal;
}
.x-button-label, .x-badge, .x-hasbadge .x-badge {
  font-weight: normal;
}

.x-form-label {
  font-weight: normal;
  font-size: 1.0em;
}
.x-form-fieldset-title {
  font-weight: normal;
  color : $blue;
  text-transform: uppercase;
}
.x-form-fieldset-instructions {
  text-align: center;
  font-size: 0.8em;
  /* color: #313131; */
}
.x-button-icon {
  color: #ffffff;
}
.x-button-label {

}
/* THEME CUSTOMIZATION ENDS */

//ICONS
// REFER to stamp documentation
@include icon-font('racloop-icons', inline-font-files('racloop-icons/racloop-icons.woff', woff, 'racloop-icons/racloop-icons.ttf', truetype,'racloop-icons/racloop-icons.svg', svg));
@include icon('magnifier', '\e0a6', 'racloop-icons');
@include icon('home', '\e0a0', 'racloop-icons');
@include icon('time', '\e11d', 'racloop-icons');
@include icon('browser', '\e0c4', 'racloop-icons');
@include icon('settings', '\e0fc', 'racloop-icons');
@include icon('bell', '\e032', 'racloop-icons');
@include icon('eye', '\e09a', 'racloop-icons');
@include icon('journeys', '\e071', 'racloop-icons');
// List iconss
.profileCls:before {
    font-family: "racloop-icons";
    content: "\e0f9";
    //font-size: 1.5em;
    padding: 10px;
}
.preferencesCls:before {
  font-family: "racloop-icons";
  content: "\e0b9";
  //font-size: 1.5em;
  padding: 10px;
}
.passwordCls:before {
  font-family: "racloop-icons";
  content: "\e0f7";
  //font-size: 1.5em;
  padding: 10px;
}

.emergencyCls:before {
  font-family: "racloop-icons";
  content: "\e09a";
  //font-size: 1.5em;
  padding: 10px;
}

.termsCls:before {
  font-family: "racloop-icons";
  content: "\e099";
  //font-size: 1.5em;
  padding: 10px;
}

.privacyCls:before {
  font-family: "racloop-icons";
  content: "\e083";
  //font-size: 1.5em;
  padding: 10px;
}

.logoutCls:before {
    font-family: "racloop-icons";
    content: "\e0cd";
    //font-size: 1.5em;
    padding: 10px;
}

.settingItem {
  //font-size: 1.5em;
  padding: 10px;
}

.fromCls:before {
  font-family: "racloop-icons";
  content: "\e0a0";
  //font-size: 1.5em;
  //padding: 10px;
}

.toCls:before {
  font-family: "racloop-icons";
  content: "\e09c";
  //font-size: 1.5em;
  //padding: 10px;
}

.calendarCls:before {
  font-family: "racloop-icons";
  content: "\e08f";
  //font-size: 1.5em;
  //padding: 10px;
}

.timeCls:before {
  font-family: "racloop-icons";
  content: "\e089";
  //font-size: 1.5em;
  //padding: 10px;
}
// Button Icons
.lockCls:before {
  font-family: "racloop-icons";
  content: "\e0f7";
}
.facebookCls:before {
  font-family: "racloop-icons";
  content: "\e141";
}
.searchCls:before {
  font-family: "racloop-icons";
  content: "\e0a6";
}
.forgotPasswordCls:before {
  font-family: "racloop-icons";
  content: "\e0a5";
}
.registerCls:before {
  font-family: "racloop-icons";
  content: "\e0f9";
}
.mobileCls:before {
  font-family: "racloop-icons";
  content: "\e0be";
}
.emailCls:before {
  font-family: "racloop-icons";
  content: "\e0a9";
}
.deleteCls:before {
  font-family: "racloop-icons";
  content: "\e11e";
}
.travelBuddiesCls:before {
  font-family: "racloop-icons";
  content: "\e0fa";
}
.incomingCls:before {
  font-family: "racloop-icons";
  content: "\e11f";
}
.outgoingCls:before {
  font-family: "racloop-icons";
  content: "\e120";
}
.fromCls:before {
  font-family: "racloop-icons";
  content: "\e19c";
}
.toCls:before {
  font-family: "racloop-icons";
  content: "\e09c";
}
.requestCls:before {
  font-family: "racloop-icons";
  content: "\e0b3";
}
.acceptCls:before {
  font-family: "racloop-icons";
  content: "\e115";
}
.rejectCls:before {
  font-family: "racloop-icons";
  content: "\e11e";
}
.cancelCls:before {
  font-family: "racloop-icons";
  content: "\e11e";
}
.replaceCls:before {
  font-family: "racloop-icons";
  content: "\e0f4";
}
.requestRideCls:before {
  font-family: "racloop-icons";
  content: "\e081";
}
.rideDetailsCls:before {
  font-family: "racloop-icons";
  content: "\e0ba";
}
.askToJoinCls:before {
  font-family: "racloop-icons";
  content: "\e080";
}
.eyeCls:before {
  font-family: "racloop-icons";
  content: "\e09a";
}
.bulbCls:before {
  font-family: "racloop-icons";
  content: "\e0a2";
}
//@include sencha-toolbar-ui('light', darken($black,10%), 'recessed');

.error .x-component-outer{
  border-style: solid;
  border-color: $red;
  border-width: 1px;
}
.toastClass {
  background-color: $alternative-color;
  color: white;
}
.journeyItem {
  padding: 0.35em;
  border-top: solid 1px #ccc;
  border-bottom: 1px solid #aeaeae;
}

.strong {
  font-weight: 700;
}

.journeyDate {
  font-size: 85%;
}

.isDriver {
  padding: 2px;
  background: $base-color;
  color: $page-bg-color;
}

/* THEME FROM WEB START */
h1,
h2 {
  font-family: 'Cabin', Helvetica Neue, Sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 3.75rem;
  line-height: 5rem;
}

h2 {
  font-size: 2.4rem;
  line-height: 3.125rem;
}

h2 strong {
  color: #272727;
}

h3 {
  font-size: 1.5rem;
  line-height: 2.375rem;
}

h4 {
  font-size: 1.25rem;
  line-height: 1.875rem;
}

h5 {
  font-size: 18px;
  line-height: 28px;
}

strong,
.strong {
  font-weight: 600;
}

.dark-text {
  color: #454545;
}

.transparent-text {
  color: rgba(255, 255, 255, 0.6);
}

.transparent-text-dark {
  color: rgba(49, 49, 49, 0.5);
}

.small-text {
  font-size: 14px;
}

.small-text-medium {
  font-size: 14px;
  font-weight: 600;
}

.uppercase {
  text-transform: uppercase;
}

.line-through {
  text-decoration: line-through;
}

.border-right {
  border-right: 1px solid #eaeaea;
}

.border-left {
  border-left: 1px solid #eaeaea;
}

.colored-line-left,
.colored-line-right,
.colored-line,
.white-line,
.grey-line {
  height: 2px;
  width: 80px;
  display: block;
}

.white-line {
  background: #ffffff;
  margin: auto;
}

.grey-line {
  background: #eaebec;
}

.grey-line-short {
  height: 2px;
  width: 40px;
  display: block;
  background: #eaebec;
}

.white-text {
  color: #ffffff;
}

.white-bg-border {
  background: #ffffff;
  border-top: 1px solid #eaebec;
  border-bottom: 1px solid #eaebec;
}

.white-bg {
  background: #ffffff;
}

.grey-bg {
  border-top: 1px solid #eaebec;
  border-bottom: 1px solid #eaebec;
  background: #F7F8FA;
}

.dark-bg {
  background: #2e3336;
}

.colored-line-left {
  float: left;
}

.colored-line-right {
  float: right;
}

.colored-line {
  margin: auto;
}

.section-header {
  margin-top: 45px;
  margin-bottom: 30px;
  text-align: center;
}

.section-header h2 {
  margin-bottom: 20px;
  margin-top: 10px;
}

.sub-heading {
  margin-top: 20px;
}

.color-bg {
  background: #008ed6;
}

.colored-text {
  color: $blue;
}

/* COLORED BORDERS AND LINES */
.colored-line-left,
.colored-line-right,
.colored-line {
  background: $blue;
}

.border-right-colored {
  border-right: 1px solid rgba(0, 142, 214, 0.3);
}

.border-left-colored {
  border-left: 1px solid rgba(0, 142, 214, 0.3);
}

.long-transparent-line {
  height: 1px;
  width: 200px;
  background: rgba(0, 142, 214, 0.3);
  margin: auto;
}

.links {
  text-align: center;
}

/* THEME FROM WEB ENDS */

.plan {
  padding: 20px;
  color: #ff;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  text-align: center;
  background-color: #f3f3f3;
  -moz-box-shadow: 0 0 6px 2px #b0b2ab;
  -webkit-box-shadow: 0 0 6px 2px #b0b2ab;
  box-shadow: 0 0 6px 2px #b0b2ab;
}

.plan-name-silver {
  padding: 20px;
  color: #fff;
  background-color: #5cb85c;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

.plan .plan-name span {
  font-size: 20px;
}

.plan-name-silver h2 {
  font-size: 150%;
}
.sub-plan {
  font-size: 75%;
}
.plan ul {
  list-style: none;
  margin: 0;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}

.plan ul li.plan-feature {
  padding: 15px 10px;
  border-top: 1px solid #c5c8c0;
  font-size: 75%;
}

.plan-center {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  width: 70%;
  //background-color: #b0e0e6;
}

.card {
    //background:#FFF;
    //border:0.1em solid #AAA;
    padding:0.1em;
    margin:0.2em;
    overflow:hidden;
    border-radius: 0.4em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.card-info {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.card-footer {
    clear: both;
    display: block;
    font-size: 75%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.card .card-info .image {
    float: right;
    margin:0.1em;
}
.card-date {
    float: left;
    color: $black;
    //background-color: $blue;
    padding: .25em;
    margin: 0.2em;
    text-align: center;
    border-radius: .25em;
    text-transform: uppercase;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-style: solid;
    border-width: 1px;
}
.card-main {
    position: relative;
}
.card .card-date .card-day {
    display: block;
    font-size: 2em;
}
.card .card-date .card-month {
    display: block;
    font-size: 1em;
}
.card .card-info .card-name h3 {
    font-size: 150%;
    font-weight: normal;
    padding: 0.1em;
    line-height: 1.2;
    margin: auto;
    padding: 0.1em;
}
.card-time {
    //color: #ccc;
    font-size: 1em;
}
.card-label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    box-sizing: border-box;
}
.card-label-gray {
    background-color: #777;
}
.card-label-red {
    background-color: #d9534f;
}
.card-label-green {
    background-color: #5cb85c;
}
.card-label-blue {
    background-color: #428bca;
}
.card-control {
    float: right;
    display: block;
    padding: 0.25em;
    margin: 0.25em;
    margin: 0 auto;
}
.card-mobile {
    margin-top: .25em;
    margin-right: .25em;
    padding: .25em .50em;
    font-size: 1em;
    line-height: 100%;
    display:inline-block;
    vertical-align: middle;
    text-align: center;
    background-color: #777;
    border-radius: .25em;
    color: #fff;
}
.card-button {
    margin-top: .25em;
    margin-right: .25em;
    padding: .25em .50em;
    font-size: 0.9em;
    line-height: 100%;
    text-shadow: 0 0.1em rgba(0, 0, 0, 0.4);
    color: #fff;
    display:inline-block;
    vertical-align: middle;
    text-align: center;
    transition: background 0.1s ease-in-out;
    -webkit-transition: background 0.1s ease-in-out;
    -moz-transition: background 0.1s ease-in-out;
    -ms-transition: background 0.1s ease-in-out;
    -o-transition: background 0.1s ease-in-out;
    -webkit-border-radius: .25em;
    -moz-border-radius: .25em;
    border-radius: .25em;
}
.card-button:active {
    padding-top: 0.2em;
    margin-bottom: -1px;
}
.card-button, .card-button:hover, .card-button:active {
    outline: 0 none;
    text-decoration: none;
}
.card-button-blue {
    background-color: #428bca;
    box-shadow: 0px 3px 0px 0px #357ebd;
}
.card-button-red {
    background-color: #d9534f;
    box-shadow: 0px 3px 0px 0px #d43f3a;
}
.card-footer-row {
    clear: both;
    display: block;
}
.card-footer .card-location-label {
    display: block;
    float: left;
    color: $black;
    //background-color: #5bc0de;
    //padding: 0.1em;
    //margin:0.1em;
    text-align: center;
    width: 53px;
    border-radius: .25em;
    text-transform: uppercase;
    text-align: right;
}
.card-footer .card-location{
    display: block;
    color: #333;
    //background-color: #f9f2f4;
    //padding: 0.1em;
    //margin:0.1em;
}
.card-pull-right {
  float: right;
}
// bootstrap buttons
.racloop-btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.racloop-btn:focus,
.racloop-btn:active:focus,
.racloop-btn.active:focus,
.racloop-btn.focus,
.racloop-btn:active.focus,
.racloop-btn.active.focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.racloop-btn:hover,
.racloop-btn:focus,
.racloop-btn.focus {
  color: #333;
  text-decoration: none;
}
.racloop-btn:active,
.racloop-btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.racloop-btn.disabled,
.racloop-btn[disabled],
fieldset[disabled] .racloop-btn {
  pointer-events: none;
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
  opacity: .65;
}
.racloop-btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.racloop-btn-default:hover,
.racloop-btn-default:focus,
.racloop-btn-default.focus,
.racloop-btn-default:active,
.racloop-btn-default.active,
.open > .dropdown-toggle.racloop-btn-default {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.racloop-btn-default:active,
.racloop-btn-default.active,
.open > .dropdown-toggle.racloop-btn-default {
  background-image: none;
}
.racloop-btn-default.disabled,
.racloop-btn-default[disabled],
fieldset[disabled] .racloop-btn-default,
.racloop-btn-default.disabled:hover,
.racloop-btn-default[disabled]:hover,
fieldset[disabled] .racloop-btn-default:hover,
.racloop-btn-default.disabled:focus,
.racloop-btn-default[disabled]:focus,
fieldset[disabled] .racloop-btn-default:focus,
.racloop-btn-default.disabled.focus,
.racloop-btn-default[disabled].focus,
fieldset[disabled] .racloop-btn-default.focus,
.racloop-btn-default.disabled:active,
.racloop-btn-default[disabled]:active,
fieldset[disabled] .racloop-btn-default:active,
.racloop-btn-default.disabled.active,
.racloop-btn-default[disabled].active,
fieldset[disabled] .racloop-btn-default.active {
  background-color: #fff;
  border-color: #ccc;
}
.racloop-btn-default .badge {
  color: #fff;
  background-color: #333;
}
.racloop-btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}
.racloop-btn-primary:hover,
.racloop-btn-primary:focus,
.racloop-btn-primary.focus,
.racloop-btn-primary:active,
.racloop-btn-primary.active,
.open > .dropdown-toggle.racloop-btn-primary {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}
.racloop-btn-primary:active,
.racloop-btn-primary.active,
.open > .dropdown-toggle.racloop-btn-primary {
  background-image: none;
}
.racloop-btn-primary.disabled,
.racloop-btn-primary[disabled],
fieldset[disabled] .racloop-btn-primary,
.racloop-btn-primary.disabled:hover,
.racloop-btn-primary[disabled]:hover,
fieldset[disabled] .racloop-btn-primary:hover,
.racloop-btn-primary.disabled:focus,
.racloop-btn-primary[disabled]:focus,
fieldset[disabled] .racloop-btn-primary:focus,
.racloop-btn-primary.disabled.focus,
.racloop-btn-primary[disabled].focus,
fieldset[disabled] .racloop-btn-primary.focus,
.racloop-btn-primary.disabled:active,
.racloop-btn-primary[disabled]:active,
fieldset[disabled] .racloop-btn-primary:active,
.racloop-btn-primary.disabled.active,
.racloop-btn-primary[disabled].active,
fieldset[disabled] .racloop-btn-primary.active {
  background-color: #337ab7;
  border-color: #2e6da4;
}
.racloop-btn-primary .badge {
  color: #337ab7;
  background-color: #fff;
}
.racloop-btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.racloop-btn-success:hover,
.racloop-btn-success:focus,
.racloop-btn-success.focus,
.racloop-btn-success:active,
.racloop-btn-success.active,
.open > .dropdown-toggle.racloop-btn-success {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}
.racloop-btn-success:active,
.racloop-btn-success.active,
.open > .dropdown-toggle.racloop-btn-success {
  background-image: none;
}
.racloop-btn-success.disabled,
.racloop-btn-success[disabled],
fieldset[disabled] .racloop-btn-success,
.racloop-btn-success.disabled:hover,
.racloop-btn-success[disabled]:hover,
fieldset[disabled] .racloop-btn-success:hover,
.racloop-btn-success.disabled:focus,
.racloop-btn-success[disabled]:focus,
fieldset[disabled] .racloop-btn-success:focus,
.racloop-btn-success.disabled.focus,
.racloop-btn-success[disabled].focus,
fieldset[disabled] .racloop-btn-success.focus,
.racloop-btn-success.disabled:active,
.racloop-btn-success[disabled]:active,
fieldset[disabled] .racloop-btn-success:active,
.racloop-btn-success.disabled.active,
.racloop-btn-success[disabled].active,
fieldset[disabled] .racloop-btn-success.active {
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.racloop-btn-success .badge {
  color: #5cb85c;
  background-color: #fff;
}
.racloop-btn-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}
.racloop-btn-info:hover,
.racloop-btn-info:focus,
.racloop-btn-info.focus,
.racloop-btn-info:active,
.racloop-btn-info.active,
.open > .dropdown-toggle.racloop-btn-info {
  color: #fff;
  background-color: #31b0d5;
  border-color: #269abc;
}
.racloop-btn-info:active,
.racloop-btn-info.active,
.open > .dropdown-toggle.racloop-btn-info {
  background-image: none;
}
.racloop-btn-info.disabled,
.racloop-btn-info[disabled],
fieldset[disabled] .racloop-btn-info,
.racloop-btn-info.disabled:hover,
.racloop-btn-info[disabled]:hover,
fieldset[disabled] .racloop-btn-info:hover,
.racloop-btn-info.disabled:focus,
.racloop-btn-info[disabled]:focus,
fieldset[disabled] .racloop-btn-info:focus,
.racloop-btn-info.disabled.focus,
.racloop-btn-info[disabled].focus,
fieldset[disabled] .racloop-btn-info.focus,
.racloop-btn-info.disabled:active,
.racloop-btn-info[disabled]:active,
fieldset[disabled] .racloop-btn-info:active,
.racloop-btn-info.disabled.active,
.racloop-btn-info[disabled].active,
fieldset[disabled] .racloop-btn-info.active {
  background-color: #5bc0de;
  border-color: #46b8da;
}
.racloop-btn-info .badge {
  color: #5bc0de;
  background-color: #fff;
}
.racloop-btn-warning {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
}
.racloop-btn-warning:hover,
.racloop-btn-warning:focus,
.racloop-btn-warning.focus,
.racloop-btn-warning:active,
.racloop-btn-warning.active,
.open > .dropdown-toggle.racloop-btn-warning {
  color: #fff;
  background-color: #ec971f;
  border-color: #d58512;
}
.racloop-btn-warning:active,
.racloop-btn-warning.active,
.open > .dropdown-toggle.racloop-btn-warning {
  background-image: none;
}
.racloop-btn-warning.disabled,
.racloop-btn-warning[disabled],
fieldset[disabled] .racloop-btn-warning,
.racloop-btn-warning.disabled:hover,
.racloop-btn-warning[disabled]:hover,
fieldset[disabled] .racloop-btn-warning:hover,
.racloop-btn-warning.disabled:focus,
.racloop-btn-warning[disabled]:focus,
fieldset[disabled] .racloop-btn-warning:focus,
.racloop-btn-warning.disabled.focus,
.racloop-btn-warning[disabled].focus,
fieldset[disabled] .racloop-btn-warning.focus,
.racloop-btn-warning.disabled:active,
.racloop-btn-warning[disabled]:active,
fieldset[disabled] .racloop-btn-warning:active,
.racloop-btn-warning.disabled.active,
.racloop-btn-warning[disabled].active,
fieldset[disabled] .racloop-btn-warning.active {
  background-color: #f0ad4e;
  border-color: #eea236;
}
.racloop-btn-warning .badge {
  color: #f0ad4e;
  background-color: #fff;
}
.racloop-btn-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}
.racloop-btn-danger:hover,
.racloop-btn-danger:focus,
.racloop-btn-danger.focus,
.racloop-btn-danger:active,
.racloop-btn-danger.active,
.open > .dropdown-toggle.racloop-btn-danger {
  color: #fff;
  background-color: #c9302c;
  border-color: #ac2925;
}
.racloop-btn-danger:active,
.racloop-btn-danger.active,
.open > .dropdown-toggle.racloop-btn-danger {
  background-image: none;
}
.racloop-btn-danger.disabled,
.racloop-btn-danger[disabled],
fieldset[disabled] .racloop-btn-danger,
.racloop-btn-danger.disabled:hover,
.racloop-btn-danger[disabled]:hover,
fieldset[disabled] .racloop-btn-danger:hover,
.racloop-btn-danger.disabled:focus,
.racloop-btn-danger[disabled]:focus,
fieldset[disabled] .racloop-btn-danger:focus,
.racloop-btn-danger.disabled.focus,
.racloop-btn-danger[disabled].focus,
fieldset[disabled] .racloop-btn-danger.focus,
.racloop-btn-danger.disabled:active,
.racloop-btn-danger[disabled]:active,
fieldset[disabled] .racloop-btn-danger:active,
.racloop-btn-danger.disabled.active,
.racloop-btn-danger[disabled].active,
fieldset[disabled] .racloop-btn-danger.active {
  background-color: #d9534f;
  border-color: #d43f3a;
}
.racloop-btn-danger .badge {
  color: #d9534f;
  background-color: #fff;
}
.racloop-btn-book {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
  background-color: #fdc95a;
  border-color: #f7b731;
}
.racloop-btn-book:hover,
.racloop-btn-book:focus,
.racloop-btn-book.focus,
.racloop-btn-book:active,
.racloop-btn-book.active,
.open > .dropdown-toggle.racloop-btn-book {
  color: #fff;
  background-color: #fdc95a;
  border-color: #f7b731;
}
.racloop-btn-book:active,
.racloop-btn-book.active,
.open > .dropdown-toggle.racloop-btn-book {
  background-image: none;
}
.racloop-btn-book.disabled,
.racloop-btn-book[disabled],
fieldset[disabled] .racloop-btn-book,
.racloop-btn-book.disabled:hover,
.racloop-btn-book[disabled]:hover,
fieldset[disabled] .racloop-btn-book:hover,
.racloop-btn-book.disabled:focus,
.racloop-btn-book[disabled]:focus,
fieldset[disabled] .racloop-btn-book:focus,
.racloop-btn-book.disabled.focus,
.racloop-btn-book[disabled].focus,
fieldset[disabled] .racloop-btn-book.focus,
.racloop-btn-book.disabled:active,
.racloop-btn-book[disabled]:active,
fieldset[disabled] .racloop-btn-book:active,
.racloop-btn-book.disabled.active,
.racloop-btn-book[disabled].active,
fieldset[disabled] .racloop-btn-book.active {
  background-color: #fdc95a;
  border-color: #f7b731;
}
.racloop-btn-book .badge {
  color: #f7b731;
  background-color: #fff;
}
.racloop-btn-link {
  font-weight: normal;
  color: #337ab7;
  border-radius: 0;
}
.racloop-btn-link,
.racloop-btn-link:active,
.racloop-btn-link.active,
.racloop-btn-link[disabled],
fieldset[disabled] .racloop-btn-link {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.racloop-btn-link,
.racloop-btn-link:hover,
.racloop-btn-link:focus,
.racloop-btn-link:active {
  border-color: transparent;
}
.racloop-btn-link:hover,
.racloop-btn-link:focus {
  color: #23527c;
  text-decoration: underline;
  background-color: transparent;
}
.racloop-btn-link[disabled]:hover,
fieldset[disabled] .racloop-btn-link:hover,
.racloop-btn-link[disabled]:focus,
fieldset[disabled] .racloop-btn-link:focus {
  color: #777;
  text-decoration: none;
}
.racloop-btn-lg,
.racloop-btn-group-lg > .racloop-btn {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}
.racloop-btn-sm,
.racloop-btn-group-sm > .racloop-btn {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.racloop-btn-xs,
.racloop-btn-group-xs > .racloop-btn {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.racloop-btn-block {
  display: block;
  width: 100%;
}
.racloop-btn-block + .racloop-btn-block {
  margin-top: 5px;
}
input[type="submit"].racloop-btn-block,
input[type="reset"].racloop-btn-block,
input[type="button"].racloop-btn-block {
  width: 100%;
}

$bg-body: #f9f9f9;
$primary-color: $blue;
$secondary-color: $blue;
$base-font-color: #726f77;
$timeline-color : $blue;
// Mixins and Placeholders
.racloop-clearfix {
  &:after, &:before {
    content: '';
    display: block;
    width: 100%;
    clear: both;
  }
}

@mixin prefix($prop, $val) {
  @each $prefix in '-webkit-', '-moz-', '-ms-', '' {
    #{$prefix}#{$prop}: $val;
  }
}

// Timeline
#timeline {
  width: 90%;
  margin: 30px auto;
  position: relative;
  @include prefix(transition, all .4s ease);

  &:before {
    content:"";
    width: 3px;
    height: 100%;
    background: $timeline-color;
    left: 50%;
    top: 0;
    position: absolute;
  }

  &:after {
    content: "";
    clear: both;
    display: table;
    width: 100%;
  }

  .timeline-item {
    margin-bottom: 50px;
    position: relative;
    @extend .racloop-clearfix;

    .timeline-icon {
      background: $timeline-color;
      width: 50px;
      height: 50px;
      position: absolute;
      top: 0;
      left: 50%;
      overflow: hidden;
      margin-left: -23px;
      @include prefix(border-radius, 50%);

      img {
        position: relative;
        top: 14px;
        left: 14px;
      }
    }
    .timeline-content {
      width: 45%;
      background: #fff;
      padding-top: 20px;
      padding-right: 20px;
      padding-bottom: 2px;
      padding-left: 20px;
      @include prefix(box-shadow, 0 3px 0 rgba(0,0,0,0.1));
      @include prefix(border-radius, 5px);
      @include prefix(transition, all .3s ease);

      h2 {
        font-size: 1.2em;
        padding-top: 2px;
        padding-right: 2px;
        padding-bottom: 2px;
        padding-left: 8px;
        background: $timeline-color;
        color: #fff;
        margin: -20px -20px 0 -20px;
        @include prefix(border-radius, 3px 3px 0 0);
      }

      &:before {
        content: '';
        position: absolute;
        left: 45%;
        top: 20px;
        width: 0;
        height: 0;
        border-top: 7px solid transparent;
        border-bottom: 7px solid transparent;
        border-left:7px solid $timeline-color;
      }

      &.right {
        float: right;

        &:before {
          content: '';
          right: 45%;
          left: inherit;
          border-left: 0;
          border-right: 7px solid $timeline-color;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  #timeline {
    margin: 30px;
    padding: 0;
    &:before {
      left: 0;
    }

    .timeline-item {
      .timeline-content {
        width: 90%;
        float: right;

        &:before, &.right:before {
          left: 10%;
          margin-left: -6px;
          border-left: 0;
          border-right: 7px solid $timeline-color;
        }
      }

      .timeline-icon {
        left: 0;
      }
    }
  }
}

table, th, td {
  border-collapse: collapse;
  border : 0;
}
th, td {
  text-align: left;
}

.ctable {
  table-layout:fixed;
}

.ctable tr:nth-child(odd){
  background: #b8d1f3;
}
.ctable tr:nth-child(even){
  background: #dae5f4;
}
